<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-2 col-3 side ">
      <img class="mx-auto d-block logo" src="https://www.freeiconspng.com/thumbs/logo-design/logo-design-icon-symbol-4.png" alt="Logo">
      <div class="menu ">
        <div class="list-group align-items-start">
          <div routerLinkActive="active" routerLink="/dashboard" class="category d-flex">
            <img src="../assets/grid.png">
            <p class="d-none d-sm-block">Dashboard</p>
          </div>
          <div routerLinkActive="active" routerLink="/patient" class="category d-flex">
            <img src="../assets/patient.png">
            <p class="d-none d-sm-block">Patient</p>
          </div>
          <div routerLinkActive="active" routerLink="appointment" class="category d-flex">
            <img src="../assets/schedule.png">
            <p class="d-none d-sm-block">Appointment</p>
          </div>
          <div routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="" class="category d-flex">
            <img src="../assets/bill.png">
            <p class="d-none d-sm-block">Billing</p>
          </div>
        </div>
        <hr style="color: white;">   
      </div>
      <div class="footer">
        <div routerLink="support" class="category d-flex">
          <img src="../assets/customer-support.png">
          <p class="d-none d-sm-block">Support</p>
        </div>
        <div routerLink="setting" class="category d-flex">
          <img src="../assets/setting.png">
          <p class="d-none d-sm-block">Setting</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xl-10 col-9 sum ">
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
